<!--<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">-->
<!--<html xmlns="http://www.w3.org/1999/xhtml">-->
<!--<head>-->
<!--<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />-->
<!--<title>Untitled Document</title>-->
<!--</head>-->
{% extends 'krishibhavan_index.html' %}
{% block body %}
<body>
<form id="form1" name="form1" method="post" action="">
  <!--<p><a href="/APPROVE_REJECT_FARMER">Farmer</a></p>-->
  <!--<p><a href="/ADD_NOTIFICATION">Notification</a> </p>-->
  <!--<p><a href="/MANAGE_AGRI_EQUIPMENTS">Agricaltural Equipent</a></p>-->
  <!--<p><a href="/VIEW_PRODUCT_REQUEST">Product Reuests</a></p>-->
  <!--<p><a href="/VIEW_COMPLAINS_SEND_REPLAY"> Complaints and  Replay</a></p>-->
  <!--<p><a href="/">Logout</a></p>-->
</form>
</body>
<!--</html>-->
{% endblock %}
