<!--<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">-->
<!--<html xmlns="http://www.w3.org/1999/xhtml">-->
<!--<head>-->
<!--<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />-->
<!--<title>Untitled Document</title>-->
<!--</head>-->
{% extends 'krishibhavan_index.html' %}
{% block body %}
<body>
<form action="" method="post"><table width="200" border="1"  class="table table-striped">
  <tr>
    <th>Shop_Name</th>
    <th>Farmer Name</th>
    <th>Complaint</th>
    <th>Date</th>
    <th>&nbsp;</th>
  </tr>
  {% for i in v%}
  <tr>
    <td>&nbsp;{{i[0]}}</td>
    <td>{{i[1]}}&nbsp;</td>
    <td>{{i[2]}}&nbsp;</td>
    <td>{{i[3]}}&nbsp;</td>
    <td><a href="/SENT_REPLAY_SHOP?id={{i[4]}}#services">Reply</a></td>
  </tr>
  {% endfor %}
</table>
</form></body>
<!--</html>-->
{% endblock %}
