<!--<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">-->
<!--<html xmlns="http://www.w3.org/1999/xhtml">-->
<!--<head>-->
<!--<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />-->
<!--<title>Untitled Document</title>-->
<!--</head>-->
{% extends 'admin_index.html' %}
{% block body %}
<body>
<form action="edit_kb_details" method="post">
<table width="200" border="1" class="table table-striped">
  <tr>
    <td>Place</td>
    <td><input type="text" name="textfield" value="{{v[2]}}" required pattern="[A-Za-z]{3,25}" /></td>
  </tr>
  <tr>
    <td>Post</td>
    <td><input type="text" name="textfield2" value="{{v[3]}}" required pattern="[A-Za-z]{3,25}"/></td>
  </tr>
  <tr>
    <td>Pin</td>
    <td><input type="text" name="textfield3" value="{{v[4]}}" required pattern="[0-9]{6}"/></td>
  </tr>
  <tr>
    <td>District</td>
    <td><input type="text" name="textfield4" value="{{v[5]}}" required patten="[A-Z a-z]{3,25}"/></td>
  </tr>
  <tr>
    <td>Phone</td>
    <td><input type="text" name="textfield5" value="{{v[6]}}" required pattern="[6789][0-9]{9}"/></td>
  </tr>
  <tr>
    <td colspan="2" align="center">
      <input type="submit" name="Submit" value="Update" /></td>
    </tr>
</table>
</form>
</body>
<!--</html>-->

{% endblock %}
