<!--<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">-->
<!--<html xmlns="http://www.w3.org/1999/xhtml">-->
<!--<head>-->
<!--<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />-->
<!--<title>Untitled Document</title>-->
<!--</head>-->
{% extends 'shop_index.html' %}
{% block body %}
<body>
<form id="form1" name="form1" method="post" action="pay">
  <table width="275" border="1"  class="table table-striped">
    <!--<tr>-->
      <!--<th width="115" scope="row" >bank</th>-->
      <!--<td width="171"><label>-->
        <!--<div align="right">-->
          <!--<select name="select">-->
            <!--<option  value="">Select</option>-->
            <!--<option>SBI</option>-->
          <!--</select>-->
          <!--</div>-->
      <!--</label></td>-->
    <!--</tr>-->
    <tr>
      <th scope="row">account number </th>
      <td><label>
        <input type="text" name="accno" required/>
      </label></td>
    </tr>
    <tr>
      <th scope="row">ifsc code </th>
      <td><label>
        <input type="text" name="ifsc" required/>
      </label></td>
    </tr>
    <tr>
      <th scope="row">key</th>
      <td><label>
        <input type="text" name="key" required/>
      </label></td>
    </tr>
    <tr>
      <th scope="row">amount</th>
      <td><input type="text" name="textfield4" required value="{{tot}}" readonly/></td>
    </tr>
    <tr>
      <th colspan="2" scope="row"><label>
        <input type="submit" name="pay" value="pay" />
        <a href="">Cancel</a>
      </label></th>
    </tr>
  </table>
</form>
</body>
<!--</html>-->
{% endblock %}