<!--<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">-->
<!--<html xmlns="http://www.w3.org/1999/xhtml">-->
<!--<head>-->
<!--<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />-->
<!--<title>Untitled Document</title>-->
<!--</head>-->
{% extends 'shop_index.html' %}
{% block body %}
<body>
<form id="form1" name="form1" method="post" action="">
  <table width="271" border="1"  class="table table-striped">
    <tr>
      <th width="79" scope="row">Bill_no</th>
      <th width="52">total</th>
      <th width="50">date</th>
      <td width="62" rowspan="2"><label>
        <input type="submit" name="Submit" value="view product" />
        <input type="submit" name="Submit2" value="pay" />
      </label></td>
    </tr>
    <tr>
      <th height="76" scope="row">&nbsp;</th>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
    </tr>
  </table>
</form>
</body>
<!--</html>-->
{% endblock %}